/* --------------------------------------------------------------
MEDIAQUERIES LG/MD - LAYOUTS BIGGER THAN 992px
-------------------------------------------------------------- */
@media (max-width: 1440px) {
  .container-hero-special {
    max-width: 100%;
  }
  .hero-main-container .hero-main-content {
    padding: 5rem;
    padding-top: 19%;
  }
  .hero-box {
    flex: 0 0 33%;
    max-width: 33%;
  }
  .hero-boxes-container .container-hero-special:after {
    height: 80vh;
    width: 50%;
    top: -20%;
    right: 13%;
  }
  .tips-slider {
    position: relative;
  }
  .tips-slider:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 16px white;
  }
  .tips-slider:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100%;
    box-shadow: -16px 0 16px white;
  }
}
@media (max-width: 1366px) {
  .hero-boxes-container .container-hero-special:after {
    height: 95vh;
    width: 50%;
    top: -20%;
    right: 13%;
  }
  .hero-boxes-container .hero-first-box h3 {
    font-size: 1.3rem;
  }
  .hero-boxes-container .hero-second-box {
    padding: 2rem 1.5rem;
  }
}
@media (max-width: 1280px) {
  .hero-main-container .hero-main-content {
    padding: 3rem;
    padding-top: 19%;
  }
  .hero-main-container .hero-form-content h2 {
    font-size: 1.3rem;
  }
  .hero-boxes-container .hero-first-box {
    padding: 1.5rem;
    font-size: 0.8rem;
  }
  .hero-boxes-container .hero-first-box h2 {
    font-size: 1.7rem;
    line-height: 2.6rem;
    margin-bottom: 1rem;
  }
  .hero-boxes-container .hero-first-box h3 {
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-bottom: 1rem;
  }
  .hero-boxes-container .container-hero-special:after {
    height: 80vh;
    width: 50%;
    top: -20%;
    right: 13%;
  }
}
@media (max-width: 1170px) {
  .hero-main-container .hero-main-content h1 {
    font-size: 3.3rem;
  }
  .hero-main-container .hero-main-content {
    font-size: 2rem;
  }
  .hero-main-container .hero-form-content h2 {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .hero-main-container .hero-form-content {
    padding: 20vh 1.5rem;
  }
  .hero-box {
    flex: 0 0 36%;
    max-width: 36%;
  }
  .tips-main-section .tips-step-item .step-item-body {
    flex: 0 0 75%;
    font-weight: 300;
    font-size: 0.85rem;
    padding-right: 1rem;
  }
  .tips-main-section .tips-step-item .step-item-image {
    flex: 0 0 20%;
    margin-right: 0.9rem;
  }
  .tips-main-section .tips-step-item .step-item-body h3 {
    font-size: 1rem;
  }
  .test-main-section .test-item-container .test-item-content {
    font-size: 0.8rem;
    min-height: 250px;
    padding: 1.1rem 0;
  }
  .test-main-section .test-item-container .media h4 {
    font-size: 1rem;
  }
  .descanso-section .descanso-content h2 {
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin-bottom: 1rem;
  }
  .descanso-section .descanso-content {
    font-size: 1.2rem;
    line-height: 2.1rem;
  }
  .descanso-section .descanso-content h3 {
    font-size: 1.3rem;
    line-height: 1.9rem;
    margin-bottom: 1.2rem;
  }
}
@media (max-width: 1024px) {
  .hero-main-container .hero-main-content {
    padding: 1.5rem;
    padding-top: 19%;
    font-size: 1.9rem;
  }
  .hero-main-container .hero-main-content h1 {
    font-size: 3rem;
    line-height: 4.5rem;
  }
  .hero-main-container .hero-form-content {
    padding: 12vh 1rem;
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
  .hero-box {
    flex: 0 0 39%;
    max-width: 39%;
  }
}
/* --------------------------------------------------------------
MEDIAQUERIES SM - LAYOUTS BIGGER THAN 768px
-------------------------------------------------------------- */
@media (max-width: 991px) {
  .hero-main-container {
    min-height: unset;
  }
  .hero-main-container .hero-main-content {
    padding: 4.5rem;
    padding-top: 4.5rem;
    font-size: 2rem;
    text-align: center;
  }
  .hero-main-container .hero-form-content {
    padding: 2rem 5rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .hero-boxes-container .container-hero-special:after {
    display: none;
  }
  .hero-box {
    flex: 0 0 90%;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
  .hero-boxes-container .hero-first-box h2 {
    font-size: 1.8rem;
    line-height: 2.6rem;
    margin-bottom: 1.5rem;
  }
  .hero-boxes-container .hero-first-box h3 {
    font-size: 1.3rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
  }
  .hero-boxes-container .hero-second-box {
    padding: 3rem 2rem;
  }
  .hero-boxes-container {
    padding: 4rem 1rem;
    padding-bottom: 1rem;
  }
  .tips-main-section .tips-title {
    padding: 3rem 1rem;
    padding-top: 0;
  }
  .tips-main-section .tips-title h2 {
    font-size: 1.7rem;
  }
  .tips-main-section .tips-description {
    padding: 3rem 1rem;
    font-size: 1.3rem;
  }
  .tips-main-section .tips-cta-container {
    padding: 2rem 1rem;
    font-size: 1.1rem;
  }
  .test-main-section .test-title {
    padding-bottom: 3rem;
  }
  .test-main-section .test-title h2 {
    font-size: 1.7rem;
  }
  .descanso-section .descanso-content h2 {
    font-size: 1.3rem;
    line-height: 2.2rem;
    margin-bottom: 1rem;
  }
  .descanso-section .descanso-content {
    font-size: 1rem;
    line-height: 1.7rem;
    padding-right: 2%;
  }
  .descanso-section .descanso-content h3 {
    font-size: 1.1rem;
    line-height: 1.8rem;
  }
}
/* --------------------------------------------------------------
MEDIAQUERIES XS - LAYOUTS LESS THAN 767px
-------------------------------------------------------------- */
@media (max-width: 767px) {
  .hero-boxes-container {
    background-size: cover !important;
  }
  .header-left img {
    max-width: 150px;
  }
  .the-header .header-right a {
    font-size: 1.5rem;
    margin-left: 1.5rem;
  }
  .footer-copy h5 {
    font-size: 0.9rem;
    padding: 0 8rem;
    line-height: 1.8rem;
    color: gray;
    font-weight: 400;
    letter-spacing: -0.5px;
  }
  .hero-main-container .hero-main-content {
    padding: 2.5rem;
    padding-top: 2.5rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
  }
  .hero-main-container .hero-main-content h1 {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
  .hero-main-container .hero-form-content {
    padding: 3rem 3rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .test-main-section .test-item-container .test-item-content {
    font-size: 1rem;
    min-height: unset;
    padding: 1.1rem 0;
  }
  .descanso-section .descanso-content {
    font-size: 1.2rem;
    line-height: 2.2rem;
    padding-right: 2%;
    text-align: center;
  }
  .descanso-section .descanso-content h2 {
    font-size: 1.7rem;
    line-height: 2.7rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
  .descanso-section .descanso-content h3 {
    font-size: 1.5rem;
    line-height: 2.3rem;
  }
  .swiper-slide img {
    margin: 0 auto;
    display: block;
  }
  .tips-main-section .tips-step-item .step-item-body {
    flex: 0 0 75%;
    font-weight: 300;
    font-size: 1.05rem;
    padding-right: 0;
  }
  .thanks-main-content {
    text-align: center;
    font-size: 1.2rem;
    line-height: 2.3rem;
  }
  .thanks-main-content h1 {
    font-size: 1.8rem;
    margin: 2rem 0;
  }
  .thanks-main-container {
    padding: 3rem 1rem;
  }
}
@media (max-width: 533px) {
  .footer-copy h5 {
    padding: 0 4rem;
  }
  .hero-main-container .hero-main-content h1 {
    font-size: 1.8rem;
    line-height: 2.7rem;
  }
  .hero-main-container .hero-main-content {
    padding: 3.5rem;
    padding-top: 3.5rem;
    font-size: 1.4rem;
    line-height: 2.2rem;
    text-align: center;
  }
  .tips-main-section .tips-description {
    padding: 3rem 0.5rem;
    font-size: 1.1rem;
  }
}
@media (max-width: 480px) {
  .hero-main-container {
    background-size: 120% !important;
    background-position: top center !important;
  }
}
@media (max-width: 424px) {
  .footer-copy h5 {
    padding: 0 2rem;
  }
  .hero-main-container .hero-main-content h1 {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
  .hero-main-container .hero-main-content {
    padding: 2.8rem;
    padding-top: 2.8rem;
    font-size: 1.3rem;
    line-height: 2.1rem;
    text-align: center;
  }
  .hero-main-container .hero-form-content {
    padding: 2rem 1.5rem;
    font-size: 1.1rem;
    line-height: 1.8rem;
  }
}
@media (max-width: 414px) {
  .footer-copy h5 {
    padding: 0 0.5rem;
  }
  .hero-main-container .hero-main-content {
    padding: 1.8rem;
    padding-top: 1.8rem;
    font-size: 1.3rem;
    line-height: 2.1rem;
    text-align: center;
  }
}
@media (max-width: 375px) {
  .the-header .header-right a {
    font-size: 1.5rem;
    margin-left: 1.2rem;
  }
}
