// compress: false, javascriptEnabled: true
/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
@import 'less/_lesshat.less';
/* --------------------------------------------------------------
VARIABLES
-------------------------------------------------------------- */

@mainfont: 'Poppins', sans-serif;
@black: #000000;
@white: #ffffff;
@blue: #0D4F9F;
@green: #00AAAA;
@gray: #F1F2F6;
@graybox: #E2E5EA;
@graytext: #464646;

/* --------------------------------------------------------------
BODY DEFAULTS
-------------------------------------------------------------- */
html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    color: @graytext;
    font-family: @mainfont;
    font-weight: 400;
}

a {
    .transition(all .2s ease-in-out);

    &:hover {
        text-decoration: none;
    }
}

.page-container {
    min-height: 75vh;
}

/* LOADER */
.loader-css {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.loader-css:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid @blue;
    border-color: @blue transparent @blue transparent;
    animation: loader-spin 1.2s linear infinite;
}

@keyframes loader-spin {
    0% {
        .transform(rotate(0deg));
    }

    100% {
        .transform(rotate(360deg));
    }
}

@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1200px;
    }
}

.img-circle {
    border-radius: 100%;
    max-width: 70px;
}



/* --------------------------------------------------------------
1.- HEADER
-------------------------------------------------------------- */
.the-header {
    padding: 1.5rem;

    & .header-left {
        & img {
            .transition(all .3s ease-in-out);

            &:hover {
                opacity: .7;
            }
        }
    }

    & .header-right {
        text-align: right;


        & a {
            color: @blue;
            font-size: 2rem;
            margin-left: 2rem;

            &:hover {
                color: @green;
            }
        }
    }
}

/* --------------------------------------------------------------
2.- FOOTER
-------------------------------------------------------------- */
.footer-copy {
    padding: 1.5rem;
    text-align: center;

    & h5 {
        font-size: 1rem;
        color: gray;
        font-weight: 400;
        letter-spacing: -.5px;

        & a {
            color: gray;

            &:hover {
                color: @green;
            }
        }
    }
}

/* --------------------------------------------------------------
3.- HOME
-------------------------------------------------------------- */
.hero-main-container {
    position: relative;
    color: @white;
    min-height: 83vh;
    background-size: cover !important;
    background-position: center center !important;

    &:before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
    }

    & .hero-main-content {
        z-index: 2;
        font-size: 2.2rem;
        line-height: 3.3rem;
        padding-top: 20%;

        & h1 {
            font-size: 3.5rem;
            font-weight: 900;
            line-height: 5rem;
            margin-bottom: 1.5rem;
        }
    }

    & .hero-form-content {
        z-index: 2;
        background-color: @green;
        padding: 20vh 2rem;
        font-size: .9rem;
        line-height: 1.5rem;

        & h2 {
            font-weight: 800;
            font-size: 1.4rem;
            line-height: 2.1rem;
            margin-bottom: 1rem;
        }
    }
}

/* FORM */
.subscribe-form-container {
    margin-top: 1.5rem;

    & .input-field-item {
        margin-bottom: 1rem;

        & .form-control {
            border: 0;
            border-radius: 3px;
            height: auto;
            padding: 0.8rem 1rem;
            .placeholder(gray);
        }
    }

    & .input-phone-item {
        .display(flex);
        .align-items(center);
        .justify-content(flex-start);
        flex-wrap: wrap;

        & .prefix {
            background: #cacaca;
            padding: 12.5px 15px;
            color: gray;
            flex: 0 0 10%;
        }

        & input {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
            flex: 0 0 82.9%;
        }

        & small {
            flex: 0 0 100%;
        }
    }

    & .submit-field-item {
        text-align: center;

        & .btn-form {
            display: block;
            width: 100%;
            border-radius: 3px;
            background-color: @blue;
            color: @white;
            font-weight: 900;
            padding: 0.8rem;
            font-size: .9rem;
            margin-bottom: 1rem;
            .transition(all .3s ease-in-out);

            &:hover {
                background: @graytext;
                color: @white;
            }
        }
    }
}

/* --------------------------------------------------------------
    BOXES
-------------------------------------------------------------- */
.hero-boxes-container {
    padding: 10rem 1rem;
    background-color: @gray  !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: left center !important;

    & .container-hero-special {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            border: 15px solid @graybox;
            height: 78vh;
            width: 60%;
            top: -24%;
            right: 17%;
        }
    }

    & .hero-first-box {
        z-index: 2;
        background: @white;
        padding: 2rem;
        font-size: .9rem;

        & h2 {
            color: @blue;
            font-size: 1.9rem;
            font-weight: 800;
            line-height: 2.8rem;
            margin-bottom: 1.5rem;
        }

        & h3 {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 2.1rem;
            margin-bottom: 2rem;
        }
    }

    & .hero-second-box {
        z-index: 2;
        background: @gray;
        text-align: center;
        padding: 3rem 2rem;

        & h2 {
            color: @green;
            font-weight: 900;
            font-size: 1.8rem;
        }

        & h3 {
            font-size: 1.2rem;
            margin: 1.5rem 0;
            font-weight: 700;
            line-height: 1.8rem;
        }

        & .btn-boxes {
            background: @blue;
            color: @white;
            margin: 1rem 0;
            width: 100%;
            padding: 0.9rem;
            font-size: 1rem;
            font-weight: 900;
            border-radius: 1px;
            .transition(all .3s ease-in-out);

            &:hover {
                background: @green;
                color: @white;
            }
        }
    }
}

/* TIPS */
.tips-main-section {
    padding: 4rem 1rem;

    .tips-title {
        padding: 5rem 1rem;
        padding-top: 1rem;
        text-align: center;

        & h2 {
            font-size: 2.2rem;
            font-weight: 900;
            letter-spacing: -0.5px;
        }
    }

    .tips-description {
        padding: 4rem 1rem;
        text-align: center;
        font-size: 1.6rem;

        & strong {
            font-weight: 900;
        }
    }

    .tips-step-item {
        .display(flex);
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 1.5rem;

        & .step-item-image {
            flex: 0 0 20%;
            margin-right: 1.9rem;

            & .picture {
                width: 80px;
                height: 80px;
                border-radius: 100%;
                border: 4px solid @green;
                padding: 17px;
                margin: 0 auto;
            }
        }

        & .step-item-body {
            flex: 0 0 80%;
            font-weight: 300;
            font-size: .9rem;
            padding-right: 1rem;

            h3 {
                font-size: 1.35rem;
                font-weight: 900;
            }
        }
    }

    .tips-cta-container {
        color: @black;
        text-align: center;
        padding: 3rem 1rem;
        font-size: 1.3rem;
        font-weight: 500;
        letter-spacing: -0.3px;

        & .btn-boxes {
            padding: 0.8rem 4rem;
            background-color: @blue;
            border-radius: 0;
            margin-top: 1.5rem;
            font-weight: 800;
            letter-spacing: .3px;
            color: @white;
            .transition(all .3s ease-in-out);

            &:hover {
                background: @green;
                color: @white;
            }
        }
    }
}


/* TESTIMONIALES */
.test-main-section {
    position: relative;
    padding: 5rem 1rem;
    background: @gray;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 40%;
        width: 100%;
        background-color: @green;
    }

    & .test-title {
        padding-bottom: 5rem;
        text-align: center;

        & h2 {
            font-size: 2.2rem;
            font-weight: 900;
            letter-spacing: -0.5px;
        }
    }

    & .test-item-container {
        background: @white;
        padding: 1rem;
        margin-bottom: 4rem;

        & .test-item-content {
            font-size: 0.9rem;
            min-height: 255px;
            padding: 1.5rem 0;
        }

        & .media {
            border-top: 1px solid @graybox;
            padding: 1rem 0;
            padding-bottom: 0;

            & img {
                margin-right: 10px;
                margin-top: 3px;
            }

            & .star-container {
                font-size: .9rem;
                color: @green;
            }

            .media-body {
                color: gray;
            }

            & h4 {
                color: @graytext;
                font-size: 1.1rem;
                font-weight: 800;
                margin-bottom: 3px;
                margin-top: 5px;
            }
        }
    }

    & .swiper-pagination-bullet {
        width: 18px;
        height: 18px;
        background: none;
        opacity: 1;
        border: 2px solid white;
    }

    & .swiper-pagination-bullet-active {
        opacity: 1;
        background: white;
    }
}



/* DESCANSOS */

.descanso-section {
    padding: 4rem 1rem;

    & .descanso-content {
        font-size: 1.3rem;
        line-height: 2.2rem;
        padding-right: 5%;

        & h2 {
            color: @blue;
            font-size: 2.1rem;
            font-weight: 900;
            line-height: 3rem;
            margin-bottom: 2rem;
        }

        & h3 {
            font-size: 1.8rem;
            line-height: 2.6rem;
            font-weight: 400;
            letter-spacing: 0;
            margin-bottom: 2.2rem;
        }

        & .btn-boxes {
            padding: 0.8rem 4rem;
            background-color: @blue;
            border-radius: 0;
            margin-top: 1.5rem;
            font-weight: 800;
            letter-spacing: .3px;
            color: @white;

            .transition(all .3s ease-in-out);

            &:hover {
                background: @green;
                color: @white;
            }
        }
    }
}

.descanso2 {
    background-color: @blue;

    .descanso-content {
        color: @white;

        & h2 {
            color: @white;
        }

        & .btn-boxes {
            background-color: @white;
            color: @graytext;
        }
    }
}

/* THANKS */

.thanks-main-container {
    padding: 4rem 1rem;
    background: @gray;
}

.thanks-main-content {
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.7rem;

    & h1 {
        font-size: 2.2rem;
        margin: 2rem 0;
        font-weight: 800;
    }
}

.thanks-svg {
    max-width: 130px;
    display: block;
    margin: 2rem auto;
    margin-bottom: 1.5rem;
}

.error-thanks-email {
    display: block;
    width: 100%;
    margin-top: 1.1rem;
    font-size: 1.1rem;
    color: @green;
}

.button-thanks-container {
    text-align: center;
    padding: 2rem 1rem;
    color: @gray;

    & h5 {
        font-size: 1.1rem;
        margin-bottom: 1rem;
        font-weight: 300;
    }

    & .btn-thanks-action {
        border: 3px solid @blue;
        background: @blue;
        color: @white;
        font-weight: 600;
        padding: 1rem 4rem;
        font-size: 1.2rem;
        border-radius: 0px !important;
        z-index: 9;

        &:hover {
            border-color: @green;
            background: @green;
        }
    }
}

.products-title-container {
    text-align: center;

    & h2 {
        font-size: 1.8rem;
        margin: 1rem 0;
        font-weight: 800;
    }
}

.product-item {
    & h3 {
        font-size: 1rem;
        text-align: center;
        font-weight: 700;
    }

    & a {
        background: @blue;
        color: @white;
        padding: 1rem;
        display: block;
        text-align: center;
        font-weight: 600;
        font-size: .9rem;
        margin-top: 1.5rem;

        &:hover {
            background: @green;
        }
    }
}

.countdown-container {
    .display(flex);
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;

    & span {
        border: 6px solid #0d4f9f;
        height: 100px;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.5rem;
        border-radius: 100%;
        margin: 0 1.5rem;
        font-weight: 600;
    }

    & small {
        display: block;
        margin-top: .5rem;
        font-size: 1rem;
    }
}