/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
/* --------------------------------------------------------------
VARIABLES
-------------------------------------------------------------- */
/* --------------------------------------------------------------
BODY DEFAULTS
-------------------------------------------------------------- */
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
body {
  color: #464646;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover {
  text-decoration: none;
}
.page-container {
  min-height: 75vh;
}
/* LOADER */
.loader-css {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loader-css:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #0D4F9F;
  border-color: #0D4F9F transparent #0D4F9F transparent;
  animation: loader-spin 1.2s linear infinite;
}
@keyframes loader-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1200px;
  }
}
.img-circle {
  border-radius: 100%;
  max-width: 70px;
}
/* --------------------------------------------------------------
1.- HEADER
-------------------------------------------------------------- */
.the-header {
  padding: 1.5rem;
}
.the-header .header-left img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.the-header .header-left img:hover {
  opacity: 0.7;
}
.the-header .header-right {
  text-align: right;
}
.the-header .header-right a {
  color: #0D4F9F;
  font-size: 2rem;
  margin-left: 2rem;
}
.the-header .header-right a:hover {
  color: #00AAAA;
}
/* --------------------------------------------------------------
2.- FOOTER
-------------------------------------------------------------- */
.footer-copy {
  padding: 1.5rem;
  text-align: center;
}
.footer-copy h5 {
  font-size: 1rem;
  color: gray;
  font-weight: 400;
  letter-spacing: -0.5px;
}
.footer-copy h5 a {
  color: gray;
}
.footer-copy h5 a:hover {
  color: #00AAAA;
}
/* --------------------------------------------------------------
3.- HOME
-------------------------------------------------------------- */
.hero-main-container {
  position: relative;
  color: #ffffff;
  min-height: 83vh;
  background-size: cover !important;
  background-position: center center !important;
}
.hero-main-container:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.hero-main-container .hero-main-content {
  z-index: 2;
  font-size: 2.2rem;
  line-height: 3.3rem;
  padding-top: 20%;
}
.hero-main-container .hero-main-content h1 {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 5rem;
  margin-bottom: 1.5rem;
}
.hero-main-container .hero-form-content {
  z-index: 2;
  background-color: #00AAAA;
  padding: 20vh 2rem;
  font-size: 0.9rem;
  line-height: 1.5rem;
}
.hero-main-container .hero-form-content h2 {
  font-weight: 800;
  font-size: 1.4rem;
  line-height: 2.1rem;
  margin-bottom: 1rem;
}
/* FORM */
.subscribe-form-container {
  margin-top: 1.5rem;
}
.subscribe-form-container .input-field-item {
  margin-bottom: 1rem;
}
.subscribe-form-container .input-field-item .form-control {
  border: 0;
  border-radius: 3px;
  height: auto;
  padding: 0.8rem 1rem;
}
.subscribe-form-container .input-field-item .form-control::-webkit-input-placeholder {
  color: gray;
}
.subscribe-form-container .input-field-item .form-control:-moz-placeholder {
  color: gray;
}
.subscribe-form-container .input-field-item .form-control::-moz-placeholder {
  color: gray;
}
.subscribe-form-container .input-field-item .form-control:-ms-input-placeholder {
  color: gray;
}
.subscribe-form-container .input-phone-item {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.subscribe-form-container .input-phone-item .prefix {
  background: #cacaca;
  padding: 12.5px 15px;
  color: gray;
  flex: 0 0 10%;
}
.subscribe-form-container .input-phone-item input {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  flex: 0 0 82.9%;
}
.subscribe-form-container .input-phone-item small {
  flex: 0 0 100%;
}
.subscribe-form-container .submit-field-item {
  text-align: center;
}
.subscribe-form-container .submit-field-item .btn-form {
  display: block;
  width: 100%;
  border-radius: 3px;
  background-color: #0D4F9F;
  color: #ffffff;
  font-weight: 900;
  padding: 0.8rem;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.subscribe-form-container .submit-field-item .btn-form:hover {
  background: #464646;
  color: #ffffff;
}
/* --------------------------------------------------------------
    BOXES
-------------------------------------------------------------- */
.hero-boxes-container {
  padding: 10rem 1rem;
  background-color: #F1F2F6 !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: left center !important;
}
.hero-boxes-container .container-hero-special {
  position: relative;
}
.hero-boxes-container .container-hero-special:after {
  content: '';
  position: absolute;
  border: 15px solid #E2E5EA;
  height: 78vh;
  width: 60%;
  top: -24%;
  right: 17%;
}
.hero-boxes-container .hero-first-box {
  z-index: 2;
  background: #ffffff;
  padding: 2rem;
  font-size: 0.9rem;
}
.hero-boxes-container .hero-first-box h2 {
  color: #0D4F9F;
  font-size: 1.9rem;
  font-weight: 800;
  line-height: 2.8rem;
  margin-bottom: 1.5rem;
}
.hero-boxes-container .hero-first-box h3 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1rem;
  margin-bottom: 2rem;
}
.hero-boxes-container .hero-second-box {
  z-index: 2;
  background: #F1F2F6;
  text-align: center;
  padding: 3rem 2rem;
}
.hero-boxes-container .hero-second-box h2 {
  color: #00AAAA;
  font-weight: 900;
  font-size: 1.8rem;
}
.hero-boxes-container .hero-second-box h3 {
  font-size: 1.2rem;
  margin: 1.5rem 0;
  font-weight: 700;
  line-height: 1.8rem;
}
.hero-boxes-container .hero-second-box .btn-boxes {
  background: #0D4F9F;
  color: #ffffff;
  margin: 1rem 0;
  width: 100%;
  padding: 0.9rem;
  font-size: 1rem;
  font-weight: 900;
  border-radius: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.hero-boxes-container .hero-second-box .btn-boxes:hover {
  background: #00AAAA;
  color: #ffffff;
}
/* TIPS */
.tips-main-section {
  padding: 4rem 1rem;
}
.tips-main-section .tips-title {
  padding: 5rem 1rem;
  padding-top: 1rem;
  text-align: center;
}
.tips-main-section .tips-title h2 {
  font-size: 2.2rem;
  font-weight: 900;
  letter-spacing: -0.5px;
}
.tips-main-section .tips-description {
  padding: 4rem 1rem;
  text-align: center;
  font-size: 1.6rem;
}
.tips-main-section .tips-description strong {
  font-weight: 900;
}
.tips-main-section .tips-step-item {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.tips-main-section .tips-step-item .step-item-image {
  flex: 0 0 20%;
  margin-right: 1.9rem;
}
.tips-main-section .tips-step-item .step-item-image .picture {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 4px solid #00AAAA;
  padding: 17px;
  margin: 0 auto;
}
.tips-main-section .tips-step-item .step-item-body {
  flex: 0 0 80%;
  font-weight: 300;
  font-size: 0.9rem;
  padding-right: 1rem;
}
.tips-main-section .tips-step-item .step-item-body h3 {
  font-size: 1.35rem;
  font-weight: 900;
}
.tips-main-section .tips-cta-container {
  color: #000000;
  text-align: center;
  padding: 3rem 1rem;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: -0.3px;
}
.tips-main-section .tips-cta-container .btn-boxes {
  padding: 0.8rem 4rem;
  background-color: #0D4F9F;
  border-radius: 0;
  margin-top: 1.5rem;
  font-weight: 800;
  letter-spacing: 0.3px;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.tips-main-section .tips-cta-container .btn-boxes:hover {
  background: #00AAAA;
  color: #ffffff;
}
/* TESTIMONIALES */
.test-main-section {
  position: relative;
  padding: 5rem 1rem;
  background: #F1F2F6;
}
.test-main-section:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40%;
  width: 100%;
  background-color: #00AAAA;
}
.test-main-section .test-title {
  padding-bottom: 5rem;
  text-align: center;
}
.test-main-section .test-title h2 {
  font-size: 2.2rem;
  font-weight: 900;
  letter-spacing: -0.5px;
}
.test-main-section .test-item-container {
  background: #ffffff;
  padding: 1rem;
  margin-bottom: 4rem;
}
.test-main-section .test-item-container .test-item-content {
  font-size: 0.9rem;
  min-height: 255px;
  padding: 1.5rem 0;
}
.test-main-section .test-item-container .media {
  border-top: 1px solid #E2E5EA;
  padding: 1rem 0;
  padding-bottom: 0;
}
.test-main-section .test-item-container .media img {
  margin-right: 10px;
  margin-top: 3px;
}
.test-main-section .test-item-container .media .star-container {
  font-size: 0.9rem;
  color: #00AAAA;
}
.test-main-section .test-item-container .media .media-body {
  color: gray;
}
.test-main-section .test-item-container .media h4 {
  color: #464646;
  font-size: 1.1rem;
  font-weight: 800;
  margin-bottom: 3px;
  margin-top: 5px;
}
.test-main-section .swiper-pagination-bullet {
  width: 18px;
  height: 18px;
  background: none;
  opacity: 1;
  border: 2px solid white;
}
.test-main-section .swiper-pagination-bullet-active {
  opacity: 1;
  background: white;
}
/* DESCANSOS */
.descanso-section {
  padding: 4rem 1rem;
}
.descanso-section .descanso-content {
  font-size: 1.3rem;
  line-height: 2.2rem;
  padding-right: 5%;
}
.descanso-section .descanso-content h2 {
  color: #0D4F9F;
  font-size: 2.1rem;
  font-weight: 900;
  line-height: 3rem;
  margin-bottom: 2rem;
}
.descanso-section .descanso-content h3 {
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: 400;
  letter-spacing: 0;
  margin-bottom: 2.2rem;
}
.descanso-section .descanso-content .btn-boxes {
  padding: 0.8rem 4rem;
  background-color: #0D4F9F;
  border-radius: 0;
  margin-top: 1.5rem;
  font-weight: 800;
  letter-spacing: 0.3px;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.descanso-section .descanso-content .btn-boxes:hover {
  background: #00AAAA;
  color: #ffffff;
}
.descanso2 {
  background-color: #0D4F9F;
}
.descanso2 .descanso-content {
  color: #ffffff;
}
.descanso2 .descanso-content h2 {
  color: #ffffff;
}
.descanso2 .descanso-content .btn-boxes {
  background-color: #ffffff;
  color: #464646;
}
/* THANKS */
.thanks-main-container {
  padding: 4rem 1rem;
  background: #F1F2F6;
}
.thanks-main-content {
  text-align: center;
  font-size: 1.6rem;
  line-height: 2.7rem;
}
.thanks-main-content h1 {
  font-size: 2.2rem;
  margin: 2rem 0;
  font-weight: 800;
}
.thanks-svg {
  max-width: 130px;
  display: block;
  margin: 2rem auto;
  margin-bottom: 1.5rem;
}
.error-thanks-email {
  display: block;
  width: 100%;
  margin-top: 1.1rem;
  font-size: 1.1rem;
  color: #00AAAA;
}
.button-thanks-container {
  text-align: center;
  padding: 2rem 1rem;
  color: #F1F2F6;
}
.button-thanks-container h5 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  font-weight: 300;
}
.button-thanks-container .btn-thanks-action {
  border: 3px solid #0D4F9F;
  background: #0D4F9F;
  color: #ffffff;
  font-weight: 600;
  padding: 1rem 4rem;
  font-size: 1.2rem;
  border-radius: 0px !important;
  z-index: 9;
}
.button-thanks-container .btn-thanks-action:hover {
  border-color: #00AAAA;
  background: #00AAAA;
}
.products-title-container {
  text-align: center;
}
.products-title-container h2 {
  font-size: 1.8rem;
  margin: 1rem 0;
  font-weight: 800;
}
.product-item h3 {
  font-size: 1rem;
  text-align: center;
  font-weight: 700;
}
.product-item a {
  background: #0D4F9F;
  color: #ffffff;
  padding: 1rem;
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 0.9rem;
  margin-top: 1.5rem;
}
.product-item a:hover {
  background: #00AAAA;
}
.countdown-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
}
.countdown-container span {
  border: 6px solid #0d4f9f;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  border-radius: 100%;
  margin: 0 1.5rem;
  font-weight: 600;
}
.countdown-container small {
  display: block;
  margin-top: 0.5rem;
  font-size: 1rem;
}
